*.sh
config.*
*.snap
*.log
*.scan
cspeedtest
.vscode
*.o
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
compile
config.log
config.status
configure
config.h
config.h.in
stamp*
null.d
depcomp
install-sh
missing
.deps
*.tar.*
TODO
*.out
test-driver
*.trs
.dirstamp
*.cache
